/* Make sure the body and html take up the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content takes up the available space, pushing the footer to the bottom */
main {
    flex: 1;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.body-login-register {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-bottom: 20px;
    height: 50px;
}

.login-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button, .signup-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button {
    background-color: #228c3b;
}

.login-button:hover, .signup-button:hover {
    opacity: 0.9;
}

.login-options {
    margin-top: 15px;
}

.login-options a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.register-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.register-button:hover {
    opacity: 0.9;
}

.list-group-item.active {
    background-color: #343a40;
    border-color: #343a40;
    color: #ffffff;
}

#profileImage {
    cursor: pointer;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#imageInput {
    display: none;
}

.card {
    margin-bottom: 20px;
}

.card-header h4 {
    margin: 0;
}

#bioText {
    font-size: 1rem;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

#editProfileButton {
    margin-left: auto;
}

#passwordDisplay {
    font-size: 1rem;
    color: #333;
}

hr {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}