<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Practicourse</title>

        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body class="body-login-register">

        <div class="login-container">
            <div>
                <img class="logo" src="images/logo.jpg" alt="Practicourse Logo">
            </div>
            <input type="text" class="login-input" placeholder="Username" required>
            <input type="password" class="login-input" placeholder="Password" required>
            <button class="login-button">Log in</button>
            <div class="login-options">
                <span>or</span>
                <a href="register.html">
                <button class="signup-button">Sign up</button>
                </a>
            </div>
        </div>

    </body>
</html>
