<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Practicourse</title>

        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body class="body-login-register">
        <div class="register-container">
            <div class="logo">Practicourse</div>
            <form id="registerForm">
                <div class="checkbox-group">
                    <label>Register as:</label>
                    <div>
                        <input type="checkbox" id="student" name="student" required>
                        <label for="student">Student</label>
                    </div>
                    <div>
                        <input type="checkbox" id="educator" name="educator" required>
                        <label for="educator">Educator</label>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
    
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
    
                <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="firstname" required>
                </div>
    
                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" required>
                </div>
    
                <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" required>
                </div>
    
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select style="width: 95%;" id="gender" name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="notspecific">Not Specific</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
    
                <button type="submit" class="register-button">Register</button>
            </form>
        </div>
    
        <script src="./js/register.js"></script>
    
    </body>
</html>
